[mysql]
default-character-set=utf8mb4
[mysqld]
sql_mode=TRADITIONAL,NO_AUTO_VALUE_ON_ZERO
character-set-server=utf8mb4
explicit_defaults_for_timestamp=true
default_time_zone="+00:00"
[client]
default-character-set=utf8mb4
